---
### This tasks file downloads Nagios source code, configures, compiles and installs it on this monitoring server
- name: Download the source code for a release of Nagios Core and extract it
  unarchive:
    src: "{{ nagios_dwld_url }}"
    dest: "/{{ vm_user }}"
    copy: no
  tags:
    - dwld_nagios

- name: Configure Nagios
  command: ./configure --with-httpd-conf=/etc/apache2/sites-enabled
  args:
    chdir: "/{{ vm_user }}/{{ nagios_version }}"
  tags:
    - cfg_nagios

- name: Compile Nagios
  shell: |
     cd /root/nagioscore-nagios-4.4.4
     make all
     make install-groups-users
     make install
     make install-daemoninit
     make install-commandmode
     make install-config
     make install-webconf

- name:  Add the web server user to the group
  user: name=www-data group="{{ nagcmd_group }}"
  tags:
    - web_user