---
### This playbook downloads Nagios Remote Plugin Executor, configures and compiles it and modifies xinetd to allow our IP
- name: Download the source code for a release of NRPE and extract it
  unarchive:
    src: "{{ nrpe_dwld_url }}"
    dest: "/{{ vm_user }}"
    copy: no
  tags:
    - dwld_nrpe

- name: Configure NRPE
  command: ./configure
  args:
    chdir: "/{{ vm_user }}/{{ nrpe_version }}"
  tags:
    - cfg_nrpe

- name: Compile NRPE
  command: "{{ item }}"
  args:
    chdir: "/{{ vm_user }}/{{ nrpe_version }}"
  with_items:
    - make check_nrpe
    - make make install-plugin
  tags:
   - cfg_nrpe

- name: Modify server_address in nrpe.cgf
  lineinfile: 
    dest: /usr/local/nagios/etc/nrpe.cfg
    state: present
    regexp: "^server_address(.*)$" 
    line: "server_address = {{ remote_host_ip }}"
    backrefs: yes
  tags:
    - modifies_server_address

- name: Modify allowed_hosts in nrpe.cgf
  lineinfile: 
    dest: /usr/local/nagios/etc/nrpe.cfg
    state: present
    regexp: "^allowed_hosts(.*)$" 
    line: "allowed_hosts = 127.0.0.1, {{ vm_ip }}"
    backrefs: yes
  tags:
    - modifies_allowed_hosts

- name: Restart nrpe
  service: name=nrpe state=restarted
  tags:
    - nrpe